<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách người dùng</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Danh sách người dùng</h1>
        <a href="/add">Thêm người dùng mới</a>
        <table>
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Email</th>
                    <th>Tuổi</th>
                    <th>Địa chỉ</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user=> { %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.age %></td>
                        <td><%= user.address %></td>
                        <td>
                            <a href="/edit/<%= user._id %>">Chỉnh sửa</a>
                            <a href="/delete/<%= user._id %>" onclick="return confirm('Bạn có chắc chắn muốn xóa người dùng này không?');">Xóa</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>